// Define variables for your color scheme
$blackgrey: #333333;
$greyBB: #BBBBBB;
$grey66: #666666;
$grey77: #777777;
$greyE5: #E5E5E5;
$grey99: #999999;
$yellow: #F8C335;
$bluegreen: #207790;
$light-bluegreen: #4F9CAF;
$backgroundblue: #DAE9FC;
$backgroundgrey: #F4F8FC;


// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
