.about-box-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2.8em 3.7em;

  background-color: $white;
  width: 80%;
  margin: 40px auto 0 auto;

  text-align: center;

  font-size: 1.2rem;

  p {
    margin-top: 1em;
  }
}

.about-box-offer1, .about-box-offer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  padding: 2.8em 2em 1.8em 2em;

  background-color: $white;
  width: 80%;
  margin: 40px auto 0 auto;

  h2 {
    margin: 0;
    line-height: 1em;
  }

  h5 {
    margin-top: 1.2em;
  }

  p {
    font-size: 1.0em;
    margin-top: 0.1em;
  }

  .about-card-box1, .about-card-box2  {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .about-card-box1 {
    margin-top: 1.5em;
  }

  .about-card-box2 {
    margin-top: 0.5em;
  }

  .about-card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 13.44em;
    //height: 13.75em;

    margin: 1em;

    p {
      text-align: center;
    }

  }
  .about-card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 2em;
    margin-bottom: 1em;

    width: 24em;
    //height: 10em;
  }
}
@media only screen and (max-width: 1049px) {
  .about-box-offer1, .about-box-offer2 {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1039px) {
  .about-box-offer2 {
    max-width: 500px;
    width: 90%;
  }
}

@media only screen and (max-width: 697px) {
  .about-box-offer1 {
    max-width: 330px;
    width: 90%;
  }
}

@media only screen and (max-width: 599px) {
  .about-box-about, .about-box-offer {
    width: 90%;
  }
}

@media only screen and (max-width: 479px) {
  .about-box-about {
    font-size: 0.84rem;
    padding: 2.0em 2.6em;

    p {
      text-align: justify;
    }

    .about-card-box1 {
      margin-top: 1.1em;
    }

    .about-card1 {
      margin: 0.7em;
    }
  }
  .about-box-offer {
    font-size: 0.85rem;
    padding: 2em 1.4em 1.3em 1.4em;

    .about-card-box2 {
      margin-top: 0;
    }

    .about-card2 {
      margin-top: 1.4em;
      margin-bottom: 0.7em;
    }

    .about-card-box1 {
      margin-top: 1.1em;
    }

    .about-card1 {
      margin: 0.7em;
    }

  }
}
