.contact-box {
  display: grid;

  grid-template-columns: minmax(400px, 500px) minmax(400px, 100%);
  grid-template-rows: 325px 40px 260px auto;
  grid-template-areas:
    "shop map"
    "company map"
    "company photo"
    "advice form";

  gap: 40px;

  //height: 1020px;
  width: 80%;
  margin: 40px auto 40px auto;

  font-size: 0.9375rem;

  .contact-shop-box {
    grid-area: shop;
    max-width: 500px;
  }
  .contact-company-box {
    grid-area: company;
    max-width: 500px;
  }
  .contact-advice-box {
    grid-area: advice;
    max-width: 500px;
  }
  .contact-map-box {
    grid-area: map;
    flex-direction: column;
  }
  .contact-photo-box {
    grid-area: photo;
    flex-direction: column;
  }
  .contact-form-box {
    grid-area: form;
    flex-direction: column;
  }

  h4 {
    margin-bottom: 0.9em;
  }

  h6 {
    font-family: $poppins-font;
    font-weight: 400;
    font-size: 1.2em;
    color: $grey66;
    margin: 0;
    padding: 3px 5px;

    a {
      color: $grey66;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }

  p > a {
    color: rgba($bluegreen, 0.75);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $bluegreen;
    }
  }

  .contact-inside-box {
    width: 330px;
    height: 100%;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0.9em 0 0.9em 0;
  }

  li {
    display: flex;
    justify-content: flex-start;
  }

  .contact-li-left {
    text-align: right;
    width: 70px;
  }
  .contact-li-right {
    margin-left: 1em;
    width: calc(100% - 70px - 1em);
  }
  .contact-line {
    border-bottom: 1px solid $grey66;
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-underline > p {
    font-size: 0.75rem;
  }
  .contact-align {
    text-align: justify;
  }

  .contact-map-element {
    width: 100%;
    height: 100%;
  }

  .contact-link-directions {
    margin-top: 0.8em;
  }

  .contact-photo {
    width: 100%;
    height: 100%;
    background-image: url("provozovna.jpg");
    background-size: cover;
  }

  #page-contact-form {
    position: relative;
    top: -4.2rem;
  }

  #new_contact {
    height: calc(100% - 1.9em);
    width: 100%;
  }

  .contact-form-grid {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(2.6em, auto) minmax(2.6em, auto) minmax(2.6em, auto) minmax(2.6em, calc(100% - 8.8em)) 2.6em;
    grid-template-areas:
      "first_name last_name last_name"
      "email email phone"
      "subject subject subject"
      "message message message"
      "submit submit submit";

    gap: 1em;

    height: 100%;
    width: 100%;

    .contact-form-first-name {
      grid-area: first_name;
    }
    .contact-form-last-name {
      grid-area: last_name;
    }
    .contact-form-email {
      grid-area: email;
    }
    .contact-form-phone {
      grid-area: phone;
    }
    .contact-form-subject {
      grid-area: subject;
    }
    .contact-form-message {
      grid-area: message;
    }
    .contact-form-submit {
      grid-area: submit;
    }
  }

  .contact-form-grid > div {
    position: relative;
  }

  .contact-form-title {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0.1em 0.2em;

    p {
      font-size: 0.8em;
    }
  }
}

.contact-box > div {
  background-color: $white;
  //padding: 1em;
  padding: 1em 2.2em 1em 2.2em;

  display: flex;
  justify-content: center;
}








// MAP popup
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

@media only screen and (max-width: 1049px) {
  .contact-box {

    grid-template-columns: minmax(288px, 100%);
    grid-template-rows: auto 405px 260px auto auto auto;
    grid-template-areas:
      "shop"
      "map"
      "photo"
      "advice"
      "form"
      "company";

    gap: 25px;
    margin: 25px auto 25px auto;

    .contact-shop-box {
      justify-self: center;
      width: 100%;
    }
    .contact-company-box {
      justify-self: center;
      width: 100%;
    }
    .contact-advice-box {
      justify-self: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 599px) {
  .contact-box {
    width: 90%;

    .contact-form-grid {
      display: grid;

      grid-template-columns: 100%;
      grid-template-rows: 2.2em 2.2em 2.2em 2.2em 2.2em minmax(2.2em, 100%) 2.2em;
      grid-template-areas:
        "first_name"
        "last_name"
        "email"
        "phone"
        "subject"
        "message"
        "submit";

      gap: 1em;
    }
  }
}

@media only screen and (max-width: 479px) {
  .contact-box {
    font-size: 0.875rem;

    h4 {
      font-size: 1em;
    }
    h6 {
      font-size: 1.1em;
    }
    p {
      font-size: 1em;
    }
  }

  .contact-box > div {
    padding: 1em;
  }
}



