body {
  background-color: $backgroundgrey;
  font-size: 1rem;
}

h1 {
  font-family: $poppins-font;
  font-weight: 600;
  font-size: 2.75em;
  color: $bluegreen;
}

h2 {
  font-family: $poppins-font;
  font-weight: 600;
  font-size: 2.625em;
  color: $blackgrey;
  margin-bottom: 0.3125em;
}

h3 {
  font-family: $poppins-font;
  font-weight: 600;
  font-size: 1.875em;
  color: $bluegreen;
  margin-bottom: 0.3125em;
}

h4 {
  font-family: $poppins-font;
  font-weight: 600;
  font-size: 0.9375em;
  color: $bluegreen;
  margin-bottom: 0.3125em;
}

h5 {
  font-family: $poppins-font;
  font-weight: 600;
  font-size: 0.875em;
  color: $blackgrey;
  margin-bottom: 0.3125em;
}

h6 {
  font-family: $lora-font;
  font-weight: 400;
  font-size: 1.375em;
  color: $blackgrey;
}

p {
  font-family: $lora-font;
  font-weight: 400;
  font-size: 0.9375em;
  color: $grey66;
  margin: 0;
}

#home-to-top {
  position: fixed;
  z-index: 75;
  top: calc(100vh - 60px);
  left: calc(100vw - 60px);

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    text-decoration: none;
    color: $grey99;
    font-size: 1.2rem;
    font-weight: 400;

    background-color: rgba($greyBB, .35);

    border-radius: 7px;
    box-shadow: 0px 0px 1.5px 1.5px rgba($greyBB, .55);
    text-align: center;

    &:hover {
      color: $grey66;
      background-color: rgba($greyBB, .45);
    }

    i {
      margin-bottom: 0.1em;
    }
  }
}

// #home-to-top:before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
//   filter: blur(10px);
//   background: inherit;
// }

.invisible {
  visibility: hidden;
}

#page-about, #page-contact {
  position: relative;
  top: -3.9375rem;
}

.btn-big {
  position: relative;
  transition: clip-path 275ms ease;

  &:hover span::before, &:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  span {
    position: relative;
    display: inline-block;
    color: $blackgrey;
    font-family: $poppins-font;
    font-weight: 600;
    font-size: 1.25em;
    padding: 0.3em 1.5em;
    background-color: $yellow;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px $greyBB;

    &::before {
      position: absolute;
      content: attr(data-content);
      color: $blackgrey;
      text-decoration: underline;
      text-decoration-color: $blackgrey;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      transition: clip-path 275ms ease;
    }
  }
}

.btn {
  font-family: $poppins-font;
  font-weight: 600;
  font-size: 0.9375em;
  color: $blackgrey;
  padding: 4px 13px;
  background-color: $yellow;
  border-radius: 3px;
}

.home-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  .home-background-a {
    background-image: url("home_background.jpg");
  }
  .home-background-b {
    background-image: linear-gradient(to bottom, $backgroundblue, $backgroundgrey);
    width: 100%;
    height: 100vh;
  }
  .home-background-c {
    background-color: $backgroundgrey;
    width: 100%;
    height: 100vh;
  }
}

#home-bg-img {
  width: 100%;
  min-height: 560px;
}

@media only screen and (min-width: 1921px) {
  .home-box {
    width: 1920px;
    left: calc(calc(100vw - 1920px) / 2);
  }
  .home-background {
    width: 1920px;
    left: calc(calc(100vw - 1920px) / 2);

    .home-background-a {
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 1920px) {
  .home-background-a {
    background-size: cover;
  }
}

@media only screen and (max-width: 999px) {
  #home-bg-img {
    height: 750px;
  }
  .home-background-a {
    background-size: 1000px;
  }
  .home-background {
    top: calc(calc(100vw - 999px) * 0.1)
  }
}

@media only screen and (max-width: 580px) {
  .home-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 529px) {
  #page-about, #page-contact {
    position: relative;
    top: -3rem;
  }
}

