.landing-title-box {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  height: calc(100vh - 50px);
  min-height: 500px;
  max-height: 60vw;

  h1 {
    text-shadow: 1px 1px 1.5px $grey99;
    margin-bottom: 7px;
  }
  h6 {
    text-shadow: 1px 1px 1.5px $greyBB;
    margin-bottom: 6px;
  }

  .landing-button {
    margin-top: 25px
  }
}

.landing-down-box {
  display: flex;
  justify-content: center;
  height: 50px;

  a {
    text-decoration: none;

    &:hover {
      h6 {
        color: $blackgrey;
      }
    }
  }
  .landing-down-text {
    width: 90px;
    text-align: center;
  }
  h6 {
    margin-bottom: -2px;
    color: $grey66;
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 1px 1px 1.5px $greyBB;
  }
  i {
    transform: scale(1.8,1);
  }
}

@media only screen and (min-width: 1921px) {
  .landing-title-box {
    padding-top: 280px;
    margin-left: 450px;
    width: 650px;
  }
}

@media only screen and (max-width: 1920px) {
  .landing-title-box {
    padding-top: calc(155px + calc(100vw - 1119px) * 0.156);
    margin-left: calc(80px + calc(100vw - 1119px) * 0.462);
    width: 650px;
  }
}

@media only screen and (max-width: 1119px) {
  .landing-title-box {
    padding-top: 155px;
    margin-left: 6%;
    width: 53%;
    min-width: 513px;
    height: 63vw;
    min-height: 600px;

    h1 {
      font-size: 2.43rem;
      text-shadow: 1px 1px 1.5px $grey99;
    }
    h6 {
      font-size: 1.24rem;
      text-shadow: 1px 1px 1.5px $greyBB;
    }
    .btn-big {
      font-size: 1.125rem;
    }
    .landing-button {
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing-title-box {
    padding-top: calc(80px + calc(100vw - 320px) * 0.09);//115px;
    margin-left: 8%;
    margin-right: calc(8vw + calc(100vw - 320px) * 0.174);
    width: auto;//calc(84vw - calc(100vw - 320px) * 0.02455);
    min-width: 0;
    min-height: 500px;

    h1 {
      font-size: calc(1.83rem + calc(100vw - 320px) * 0.01679);
      text-shadow: 1px 1px 1.5px $grey99;
    }
    h6 {
      font-size: calc(0.932rem + calc(100vw - 320px) * 0.00855);
      text-shadow: 1px 1px 1.5px $greyBB;
      margin-bottom: 2px;
    }
    .btn-big {
      font-size: calc(0.8472rem + calc(100vw - 320px) * 0.00777);
    }
    .landing-button {
      margin-top: 15px;
    }
  }
}
