<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="navbar-left">
    <div class="navbar-logo-box">
    <%= link_to "/#page-top", class: "navbar-brand" do %>
      <%= image_tag "LogoGato.png" %>
      <% end %>
    </div>
    <div>
      <h6>
        <%= link_to 'tel:00420774234323', class: 'navbar-contact-box' do %>
          <i class="fas fa-phone mr-2"></i>774 234 323
        <% end %>
      </h6>
      <h6>
        <%= mail_to 'prodejce@gato.cz', class: 'navbar-contact-box' do %>
          <i class="far fa-envelope mr-2"></i>prodejce@gato.cz
        <% end %>
      </h6>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <h5><%= link_to "Eshop", "/products", class: "nav-link" %></h5>
        </li>
        <li class="nav-item">
          <h5><%= link_to "O nás", "/#page-about", class: "nav-link" %></h5>
        </li>
        <li class="nav-item">
          <h5><%= link_to "Kontakty", "/#page-contact", class: "nav-link" %></h5>
        </li>
        <div class="navbar-separator"></div>
        <li class="nav-item dropdown">
          <%= link_to "#", class: "nav-link", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
            <i class="fas fa-user"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h5><%= link_to "Profil", "/users/#{current_user.id}", class: "dropdown-item" %></h5>
            <h5><%= link_to "Odhlásit se", destroy_user_session_path, method: :delete, class: "dropdown-item" %></h5>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <h5><%= link_to "Eshop", "/products", class: "nav-link" %></h5>
        </li>
        <li class="nav-item">
          <h5><%= link_to "O nás", "/#page-about", class: "nav-link" %></h5>
        </li>
        <li class="nav-item">
          <h5><%= link_to "Kontakty", "/#page-contact", class: "nav-link" %></h5>
        </li>
        <div class="navbar-separator"></div>
        <li class="nav-item">
          <h5><%= link_to "Přihlásit/Registrovat", new_user_session_path, class: "nav-link" %></h5>
        </li>
      <% end %>
    </ul>
  </div>
</div>
