<div class="about-box-about">
  <h3>GATO s.r.o. je zde pro Vás již od roku 1991!</h3>
  <p>Naše firma se nezabývá pouze výrobou a prodejem profilů na vestavěné skříně, ale také výrobou, montáží a servisem stínící techniky. Na českém trhu působíme již téměř 30 let a za tu dobu jsme načerpali spoustu zkušeností, které nám pomáhají poskytovat kvalitní služby Vám, naším zákazníkům.</p>
</div>
<div class="about-box-offer1">
  <h3>Co nabízíme?</h3>
  <div class="about-card-box1">
    <div class="about-card1">
      <%= image_tag 'Profil Fe - maly 1.png' %>
      <h5>OCELOVÉ PROFILY</h5>
      <p>Vyrábíme ocelové profily technologií válcování oceli za studena.</p>
    </div>
    <div class="about-card1">
      <%= image_tag 'VRU 10 - maly 1.png' %>
      <h5>HLINÍKOVÉ PROFILY</h5>
      <p>Dodáváme kvalitní hliníkové profily za výhodné ceny.</p>
    </div>
    <div class="about-card1">
      <%= image_tag 'image 3.png' %>
      <h5>VELKÝ VÝBĚR BAREV</h5>
      <p>Nabízíme velký výběr barev včetně dřevodekorů.</p>
    </div>
  </div>
</div>
<div class="about-box-offer2">
  <h3>Proč nakupovat od nás?</h3>
  <div class="about-card-box2">
    <div class="about-card2">
      <h2>01</h2>
      <h5>ŘEZÁNÍ NA MÍRU</h5>
      <p>Profily Vám nařežeme přesně podle Vašich požadavků, abyste je mohli rovnou použít pro stavbu skříně!</p>
    </div>
    <div class="about-card2">
      <h2>02</h2>
      <h5>VÝPOČET ROZMĚRŮ</h5>
      <p>Máte rozměry skříne, kterou chcete vyrobit? Spočitáme Vám délky profilů, které budete potřebovat!</p>
    </div>
    <div class="about-card2">
      <h2>03</h2>
      <h5>CELÉ KUSY</h5>
      <p>Chcete ušetřit? Využíváte profily do posledního cm? Dodáme Vám celé kusy!</p>
    </div>
    <div class="about-card2">
      <h2>04</h2>
      <h5>RYCHLOST</h5>
      <p>Objednáte v eshopu, my vše připravíme, rychle k Vám dodáme a na nic se neptáme!</p>
    </div>
  </div>
</div>
