<div class="contact-box">
  <div class="contact-shop-box">
    <div class="contact-inside-box">
      <h4>PROVOZOVNA</h4>
      <p>Zde můžete nakoupit nebo vyzvednout zboží z našeho eshopu.</p>
      <ul>
        <li>
          <div class="contact-li-left"><p><strong>Adresa:</strong></p></div>
          <div class="contact-li-right">
            <p>Horní Lomnice čp. 2<br>Velké Popovice<br>251 69</p>
          </div>
        </li>
        <li>
          <div class="contact-li-left"><p><strong>Telefon:</strong></p></div>
          <div class="contact-li-right">
            <p>777 202 183</p>
          </div>
        </li>
        <li>
          <div class="contact-li-left"><p><strong>Email:</strong></p></div>
          <div class="contact-li-right">
            <p>prodejce@gato.cz</p>
          </div>
        </li>
        <li>
          <div class="contact-li-left"><p><strong>Web:</strong></p></div>
          <div class="contact-li-right">
            <p>www.vestavene-skrine-gato.cz</p>
          </div>
        </li>
      </ul>
      <h4>PRACOVNÍ DOBA</h4>
      <ul>
        <li>
          <div class="contact-li-left"><p><strong>Po – Pá:</strong></p></div>
          <div class="contact-li-right">
            <p>7:00 – 15:30</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="contact-company-box">
    <div class="contact-inside-box">
      <h4>ZÁKLADNÍ ÚDAJE O FIRMĚ</h4>
      <p>Na této adrese není možné nakupovat nebo vyzvedávat zboží, jedná se pouze o sídlo firmy.</p>
      <ul>
        <li>
          <div class="contact-li-left"><p><strong>Název firmy:</strong></p></div>
          <div class="contact-li-right">
            <p>GATO s.r.o.</p>
          </div>
        </li>
        <li>
          <div class="contact-li-left"><p><strong>Sídlo:</strong></p></div>
          <div class="contact-li-right">
            <p>Jihlavská 611<br>Praha  4<br>140 00</p>
          </div>
        </li>
        <li>
          <div class="contact-li-left"><p><strong>IČ:</strong></p></div>
          <div class="contact-li-right">
            <p>12332123</p>
          </div>
        </li>
        <li>
          <div class="contact-li-left"><p><strong>DIČ:</strong></p></div>
          <div class="contact-li-right">
            <p>CZ12332123</p>
          </div>
        </li>
      </ul>
      <div class="contact-line"></div>
      <div class="contact-underline">
        <p>Firma je zapsána u krajského obchodníku soudu v Praze pod značkou oddíl C, vl.3071 ze dne 23.7.1991.</p>
      </div>
    </div>
  </div>
  <div class="contact-advice-box">
    <div class="contact-inside-box">
      <h4>NEVÍTE SI RADY A POTŘEBUJETE PORADIT?</h4>
      <div class="contact-align">
        <p>Naši zkušení technici Vám se vším ochotně poradí. Kontaktujte nás telefonicky na čísle 777 202 183, e-mailem na prodejce@gato.cz nebo vyplňte kontaktní formulář na této stránce a my se Vám ozveme na uvedené telefonní číslo či e-mail.</p>
        <br>
        <p>Můžete nás také osobně navštívit v pracovní době v naší provozovně u Velkých Popovic. Rádi Vám představíme náš sortiment.</p>
      </div>
    </div>
  </div>
  <div class="contact-map-box">
    <h4>KDE NÁS NAJDETE?</h4>
    <div id="map" class="contact-map-element" data-turbolinks-permanent></div>
    <div id="map-popup"><h6><%= link_to "GATO s.r.o.", "https://www.google.com/maps/place/49%C2%B055'13.6%22N+14%C2%B039'45.5%22E/@49.92043,14.6538893,15z/data=!4m5!3m4!1s0x0:0x0!8m2!3d49.92043!4d14.662644", target: :_blank %></h6></div>
    <div class="contact-link-directions">
      <p>Pro navigaci k nám využijte
        <%= link_to "Google mapy", "https://www.google.com/maps/dir/?api=1&destination=49.920444,14.662639", target: :_blank %> nebo
        <%= link_to "Waze", "https://www.waze.com/en-GB/livemap/directions?latlng=49.920444%2C14.662639&time=now", target: :_blank %>.
      </p>
    </div>
  </div>
  <div class="contact-photo-box">
    <h4>NAŠE PROVOZOVNA</h4>
    <div class="contact-photo"></div>
  </div>
  <div class="contact-form-box">
    <div id="page-contact-form"></div>
    <h4>KONTAKTNÍ FORMULÁŘ</h4>
    <%= simple_form_for(@contact, id: 'contact-form', url:  url_for(action: 'create', controller: 'home', anchor: 'page-contact-form'), method: 'post') do |f| %>
      <div class="contact-form-grid">
        <div class="contact-form-first-name">
          <div class="contact-form-title"><p></p></div>
          <%= f.input :first_name, label: false, placeholder: 'Jméno', input_html: { class: "form-control" } %>
        </div>
        <div class="contact-form-last-name">
          <%= f.input :last_name, label: false, placeholder: 'Příjmení', input_html: { class: "form-control" } %>
        </div>
        <div class="contact-form-email">
          <%= f.input :email, label: false, placeholder: 'Email', input_html: { class: "form-control" } %>
        </div>
        <div class="contact-form-phone">
          <%= f.input :phone, label: false, placeholder: 'Telefon', input_html: { class: "form-control" } %>
        </div>
        <%= f.simple_fields_for :messages do |m| %>
          <div class="contact-form-subject">
            <%= m.input :subject, label: false, placeholder: 'Předmět zprávy', input_html: { class: "form-control" } %>
          </div>
          <div class="contact-form-message">
            <%= m.input :message, label: false, as: :text, placeholder: 'Zpráva', input_html: { class: "form-control", rows: 3, cols: 1 } %>
          </div>
        <% end %>
        <div class="contact-form-submit">
          <%= f.button :button, "Odeslat" %>
        </div>

      </div>
    <% end %>
  </div>
</div>

<!-- f.button :button, "Odeslat", class: "g-recaptcha", data: { sitekey: 'reCAPTCHA_site_key', callback: 'contactFormOnSubmit', action: 'submit' }
 -->
