<div class="landing-title-box">
  <div>
    <h1>VÝROBA A PRODEJ PROFILŮ PRO VESTAVĚNÉ SKŘÍNĚ</h1>
    <h6>Výroba a prodej ocelových a hliníkových profilů</h6>
    <h6>Výběr ze dvou materiálů a více barev</h6>
    <h6>Různé typy profilů</h6>
    <h6>Profily pro různé tloušťky  LTD desek</h6>
    <div class="landing-button">
      <%= link_to '#', class: 'btn-big' do %>
        <span data-content="Nakoupit">Nakoupit</span>
      <% end %>
    </div>
  </div>
</div>
<div class="landing-down-box">
  <%= link_to '#page-about' do %>
    <div class="landing-down-text">
      <h6>Více o nás</h6>
      <h6><i class="fas fa-angle-down"></i></h6>
    </div>
  <% end %>
</div>
