<div class="home-background">
  <div class=home-background-a><%= image_tag 'home-background-transparent-big-20.png', id: 'home-bg-img' %></div>
  <div class=home-background-b></div>
  <div class=home-background-c></div>
</div>
<div id="home-to-top">
  <%= link_to '#page-top' do %>
    <i class="fas fa-angle-up"></i>
  <% end %>
</div>
<div class="home-box">
  <div id="page-top"></div>
  <%= render 'home/landing' %>
  <div id="page-about"></div>
  <%= render 'home/about' %>
  <div id="page-contact"></div>
  <%= render 'home/contact' %>
</div>



