input {
  padding: 0.4em 0.8em;
}

input::placeholder {
  color: $grey99;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $blackgrey;
}

.form-control {
  border: 1px solid $greyE5;
  box-shadow: none;
  border-radius: 3px;
  background-color: $white;
  height: 2.6em;
  width: 100%;

  font-family: $lora-font;
  font-weight: 400;
  font-size: 1em;
  color: $blackgrey;

  transition: box-shadow 0.4s ease;

  &:focus {
    border: 1px solid $yellow;
    box-shadow: 0 0 0 1px $yellow;
    color: $grey66;
  }
}

.field_with_errors {
  .form-control {
    border-color: $red;

    &:focus {
      box-shadow: 0 0 0 1px $red;
    }
  }

  .error {
    font-family: $lora-font;
    font-weight: 400;
    font-size: 0.75em;
    color: $red;
  }
}


