.navbar-lewagon {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  box-shadow: 0 1px 4px 0.5px $greyBB;

  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-toggler {
    margin-right: 10px;
    border: none;
  }
  .navbar-brand img {
    //height: 3.9375rem;
    height: 3rem;
  }
  h6 {
    font-family: $poppins-font;
    font-weight: 400;
    font-size: 0.71rem;//0.875rem;
    color: $grey66;
    margin: 0;
  }

  h5 {
    font-family: $poppins-font;
    font-weight: 400;
    font-size: 0.8125rem;//0.9375rem;
    color: $grey66;
    margin: 0;
  }

  a {
    color: $grey66;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  .fa-envelope {
    margin-top: 0;//5px;
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
  }

  .navbar-nav {
    padding-left: 30px;
  }

  .navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .navbar-logo-box {
      display: flex;
      justify-content: center;
      width: 60%;
      padding: 0 3vw;
    }

    .navbar-contact-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //padding: 4px 0;
      padding: 3px 0;
    }
  }

  .navbar-separator {
    width: 1px;
    border-left: 1px solid $blackgrey;
    margin: 5px 20px 5px 0;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $grey66;
  margin-right: 20px;
  font-size: 0.8125rem;
  line-height: 1.2;

  &:hover {
    color: black;
  }

  i {
    margin-right: -6px;
    margin-left: -6px;
  }
}

@media only screen and (max-width: 529px) {
  .navbar-lewagon {
    .navbar-toggler {
      margin-right: 5px;
    }
  }
}


