*************************************
 NOVÁ ZPRÁVA Z KONTAKTNÍHO FORMULÁŘE
*************************************

ZÁKLADNÍ ÚDAJE
==============

  Jméno:        <%= "#{@contact.first_name} #{@contact.last_name}" %>
  Email:        <%= @contact.email %>
  Telefon:      <%= @contact.phone %>
  Registrován:  <%= @contact.user.nil? ? 'Ne' : 'Ano' %>


ZPRÁVA
======

Předmět: <%= @message.subject %>
_________<%= @subject_underline %>

<%= @message.message %>


