<div class="web-mail">
  <h4>NOVÁ ZPRÁVA Z KONTAKTNÍHO FORMULÁŘE</h4>
  <div class="info-card">
    <h5>ZÁKLADNÍ ÚDAJE</h5>
    <ul>
      <li>
        <div class="li-left"><p><strong>Jméno:</strong></p></div>
        <div class="li-right"><p><%= "#{@contact.first_name} #{@contact.last_name}" %></p></div>
      </li>
      <li>
        <div class="li-left"><p><strong>Email:</strong></p></div>
        <div class="li-right"><p><%= mail_to(@contact.email) %></p></div>
      </li>
      <li>
        <div class="li-left"><p><strong>Telefon:</strong></p></div>
        <div class="li-right"><p><%= @contact.phone %></p></div>
      </li>
      <li>
        <div class="li-left"><p><strong>Registrován:</strong></p></div>
        <div class="li-right"><p><%= @contact.user.nil? ? 'Ne' : 'Ano' %></p></div>
      </li>
    </ul>
  </div>
  <div>
  <div class="message-card">
    <h5>PŘEDMĚT</h5>
    <p><%= @message.subject %></p>
    <br>
    <h5>ZPRÁVA</h5>
    <p><%= simple_format(@message.message) %></p>
  </div>
</div>
