<!DOCTYPE html>
<html>
  <head>
    <title>GatoEshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:google_maps_api_key]}", defer: true) %>
    <%= javascript_include_tag('https://www.google.com/recaptcha/api.js', defer: true) %>
    <%= javascript_include_tag('application', defer: true) %>
    <%= javascript_pack_tag('application', defer: true) %>    <!-- from app/javascript/packs/application.js -->
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>


  </body>
</html>
