<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .web-mail {
        background-color: #F4F8FC;
        padding: 20px;
        height: 100vh;
      }

      h4 {
        font-family: Verdana, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #207790;
        margin: 0 0 16px 0;
      }

      h5 {
        font-family: Verdana, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #333333;
        margin: 0 0 7px 0;
      }

      p {
        font-family: Times, serif;
        font-weight: normal;
        font-size: 14px;
        color: #666666;
        margin: 0 0 0 0;
      }

      .info-card, .message-card {
        box-shadow: 0 0 1px 1px #DDDDDD;
        border-radius: 3px;
        padding: 12px 18px;
        margin-bottom: 16px;
        background-color: white;
      }

      .info-card {
        width: fit-content;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 10px 0 10px 0;
      }

      ul:last-child {
        margin-bottom: 0;
      }

      li {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3px;
      }

      li::last {

      }

      .li-left {
        text-align: right;
        width: 90px;

      }
      .li-right {
        margin-left: 10px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
